
@import "tailwindcss";


:root {
  font-family: 'Poppins', sans-serif;
}

html { scroll-behavior: smooth; }
body { margin: 0; font-family: 'Poppins', sans-serif; }
button, a { -webkit-tap-highlight-color: transparent; }
